/* Music.css */

.music-page {
  background: linear-gradient(to right, #222222, #333333); 
}

.music-container {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  height: auto;
}

.music-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  color: #ffffff; /* Başlık metin rengi */
  background: linear-gradient(to left, #aaaaaa, #444444); 
  display: block;
  border-radius: 12px;
  padding: 10px 20px;
  font-style: italic;
  margin-bottom: 25px;
}

.sidebarrr {
  width: 95%;
  padding: 10px;
  background: #444444; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 10px;
  align-self: flex-start; 
}

.sidebarrr ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; 
}

.sidebarrr li {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 10px; 
  margin-left: 10px; 
  background-color: #c5c5c5;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  flex: 1 0 calc(30% - 10px); 
  font-style: italic;
}

.sidebarrr li:nth-child(2n) {
  margin-right: 10px; 
}

.sidebarrr li:hover {
  background: linear-gradient(to left, #aaaaaa, #444444); 
}


.contenttt {
  width: 100%; 
  padding: 0px;
}


.categoryyy {
  background: linear-gradient(to right, #aaaaaa, #444444); 
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-top: 30px;
}

.categoryyy-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
}

@media (max-width: 1200px) {
  .categoryyy-images {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 900px) {
  .categoryyy-images {
    grid-template-columns: repeat(1, 1fr); 
  }
}


.categoryyy-images iframe {
  width: 100%; 
  height: 185px; 
  margin-top: 10px;
}

.categoryyy h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  margin-top: 0px;
  text-align: left;
  font-style: italic;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scroll-to-top button {
  background-color: #333333; 
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.scroll-to-top button:hover {
  background-color: #444444; 
}

.scroll-to-top img {
  width: 35px; 
  height: 35px; 
  cursor: pointer; 
  margin-right: 10px;
}

.scroll-to-top img:hover {
  opacity: 0.7; 
}

.loading-message {
  color: #fff;
  font-style: italic;
}
