.picture-page {
  background: linear-gradient(to right, #50075f, #8e1d74); 
}


.picture-container {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  height: auto;
}

.picture-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  color: #000000;
  background: linear-gradient(to left, #f1cb0f, #c6b114); 

  display: block;
  border-radius: 12px;
  padding: 10px 20px;
  font-style: italic;
  margin-bottom: 25px;
}

.contentt {
  width: 100%; 
  padding: 0px;
}

.music {
  margin-top: 20px;
  font-style: italic;
  color: #ffffff;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scroll-to-top button {
  background-color: #542a2a;
  color: #f3f1f1;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.scroll-to-top button:hover {
  background-color: #6e3939;
}

.scroll-to-top img {
  width: 35px; 
  height: 35px; 
  cursor: pointer; 
  margin-right: 10px;
}

.scroll-to-top img:hover {
  opacity: 0.7; 
}

.categoryy {
  background: linear-gradient(to left, #812456, #dcbbbb); 
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-top: 30px;
}

.categoryy-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
}

@media (max-width: 3000px) {
  .categoryy-img {
    grid-template-columns: repeat(4, 1fr); 
  }

}


@media (max-width: 1455px) {
  .categoryy-img {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1075px) {
  .categoryy-img {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 700px) {
  .categoryy-img {
    grid-template-columns: repeat(1, 1fr); 
  }

  .gallery-item {
    width: 100%;
    height: 400px;
  }
}


.categoryy-img img {
  width: 100%; 
  height: auto; 
  margin-top: 10px;
}

.categoryy h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  margin-top: 0px;
  text-align: left;
}
 
.gallery-item {
  width:275px !important;
  height: 375px !important; 
  margin-left: 20px;
}

.gallery-item1 {
  width: 300px !important; 
  height: 275px !important; 
  margin-left: 20px;

}

.gallery-item2 {
  width: 300px !important; 
  height: 300px !important; 
  margin-left: 20px;

}