.box {
  height: 180px;
  width: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #020438;
  border-radius: 100%;
  overflow: hidden;
}

.percent {
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
}

.water {
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: 0;
    width: 100%;
    height: 85%;
    transform: translate(0, 100%);
    background: #4d6de3;
    transition: all 0.3s;
    overflow: visible; /* Dalga efektinin sınırlarını aşmasına izin vermek için */
  }
  

.water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
  height: auto;
}

.water_wave_back {
  right: 0;
  fill: #c7eeff;
  animation: wave-back 1.4s infinite linear;
}

.water_wave_front {
  left: 0;
  fill: #4d6de3;
  margin-bottom: -1px;
  animation: wave-front 0.7s infinite linear;
}

@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}

.skills-text {
    margin-top: 65px;
    text-align: center;
    color: #020438;
    font-size: 17px;
    position: relative; /* Metni diğer öğelerin üzerine getirmek için */
    z-index: 1; /* Metnin diğer öğelerin üzerine gelmesini sağlar */
}
